doctype html
html(lang="zh-cn")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible",content="IE=Edge")
    title 博客
    mixin css(href)
      link(rel="stylesheet", href=href)
    +css("/Component/bootstrap/css/bootstrap.css")
    +css("/Component/font-awesome/css/font-awesome.min.css")
    +css("/Component/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css")
    +css("/Component/summernote/summernote.css")
    +css("/Component/summernote/summernote-bs3.css")
    +css("/Asset/main.css")
  body
    mixin link-button
      a(class=attributes.class, id=attributes.id, href="javascript:;")
        block
    mixin icon-link-button(icon)
      +link-button(class=attributes.class, id=attributes.id)
        span.glyphicon(class="glyphicon-" + icon)
        block
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") 博客
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="/index") 首页
            li
              a(href="/about") 关于
          ul.nav.navbar-nav.navbar-right
            // {{#user}}
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown") {{username}} <b class="caret"></b>
              ul.dropdown-menu
                li
                  a(href="/logout") 注销
                li
                  a(href="/change-password") 修改密码
            // {{/user}}
            // {{^user}}
            li
              a(href="/signup") 注册
            li
              a(href="/login") 登录
            // {{/user}}
    .container
      .blog-header
        h1.blog-title 博客
          small Java EE 实验
      .row
        .blog-main.col-md-8.col-sm-12
          // {{^message}}
          != yield
          // {{/message}}
          // {{#message}}
          .message
            p {{message}}
            +link-button.btn.btn-primary.go-back 返回
          // {{/message}}
        .clearfix.visible-sm
        .blog-sidebar.col-md-3.col-md-offset-1
          // {{^user}}
          .sidebar-module.sidebar-module-inset
            h4 关于
            p 这一个博客，嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷嗷
          // {{/user}}
          // {{#user}}
          .sidebar-module
            a(href="/post-edit").btn.btn-success.btn-block 发表新文章
          // {{/user}}
          .sidebar-module.tags.hide
            h4 标签
            a(href="#") 标签 1
            a(href="#") 标签 2
            a(href="#") 标签 3
            a(href="#") 标签 4
          .sidebar-module
            h4 友情链接
            ul.list-unstyled
              li
                a(href="#") 链接 1
              li
                a(href="#") 链接 2
              li
                a(href="#") 链接 3
              li
                a(href="#") 链接 4
  script(src="/Component/jquery/jquery-min.js")
  script(src="/Component/underscore.js/underscore-min.js")
  script(src="/Component/handlebars.js/handlebars.js")
  script(src="/Component/bootstrap/js/bootstrap.js")
  script(src="/Component/bootstrap-switch/js/bootstrap-switch.js")
  script(src="/Component/moment.js/moment-with-langs.min.js")
  script(src="/Component/summernote/summernote.min.js")
  script(src="/Component/summernote/lang/summernote-zh-CN.js")
  script(src="/Asset/main.js")
